section {
  margin: 0 20px;
}

a:focus {
  outline: none;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.no-selection {
  margin: 20px;
}

.contact-list {
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.panel {
  margin: 20px;
}

.button-bar {
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: white;
}

.button-bar > button {
  float: right;
  margin: 20px;
}

li.list-group-item {
  list-style: none;
}

li.list-group-item > a {
  text-decoration: none;
}

li.list-group-item.active > a {
  color: white;
}

.question {
    color: #9D9D9D;
    background-color: #222222;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px darkslategray;
    text-align: center;
}

.question:hover {
    color: white;
    cursor: pointer;
    background-color: darkslategrey;
    box-shadow: 2px 2px 2px 2px cadetblue;
}

.question-text {
    color: black;
    background-color: white;
    text-align: start;
}

pre#question-text {
    display: block;
    font-family: Courier New, Courier, monospace;
    font-size: 13px;
    white-space: pre-line;
}

#question-headline {
    font-size: 22px;
    font-weight: bold;
}

.question-answers {
    color: #222222;
    background-color: #9D9D9D;
}

#question-tags {
    background-color: white;
    padding-bottom: 10px;
    text-align: left;
}

.question-user {
    font-size: 16px;
    text-align: left;
}

.question-domain {
    font-style: italic;
    font-size: 16px;
    text-align: right;
}

.votes-plus {
    color: seagreen;
    background-color: #DFF0D8;
}

.votes-minus {
    color: darkred; 
    background-color: #F2DEDE;
}
