section {
  margin: 0 20px;
}

a:focus {
  outline: none;
}

.navbar-nav li.loader {
    margin: 12px 24px 0 6px;
}

.no-selection {
  margin: 20px;
}

.contact-list {
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.panel {
  margin: 20px;
}

.button-bar {
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: white;
}

.button-bar > button {
  float: right;
  margin: 20px;
}

li.list-group-item {
  list-style: none;
}

li.list-group-item > a {
  text-decoration: none;
}

li.list-group-item.active > a {
  color: white;
}

.question {
    background-color: #eee;
    border-radius: 7px;
    /*box-shadow: 2px 2px 2px 2px #eee;*/
    border: 1px solid #eee;
    color: #333;
    text-align: left;
    margin-bottom: 35px;
}

.question-clickable:hover {
    color: dodgerblue;
    cursor: pointer;
}

.question-text {
    color: #333;
    background-color: white;
    text-align: start;
}
.tag-pill{
    background-color: #888;
}
.question-text {
    font-family: "Arial";
    font-size: 16px;
    white-space: pre-line;
    height: 100%;
}

.question-headline {
    font-size: 22px;
    font-weight: bold;
}

.question-answers {
    background-color: #444444;
    color: #F2DEDE;
}

.question-tags {
    /*background-color: #eee;*/
    padding-bottom: 10px;
    text-align: left;
}

.question-user {
    font-style: italic;
    font-size: 13px;
    text-align: right;
}

.question-domain {
    font-style: italic;
    font-size: 13px;
    text-align: right;
}

.question-admin {
    text-align: right;
}

.question-trash {
    background-color: #222222;
    color: #FF3333;
}

.question-trash:hover {
    background-color: #FF3333;
    color: #222222;
    cursor: pointer;
}

.question-pencil {
    background-color: #222222;
    color: #FFFF66;
}

.question-pencil:hover {
    background-color: #FFFF66;
    color: #222222;
    cursor: pointer;
}

.votes-plus {
    background-color: #DFF0D8;
    color: seagreen;
}

.votes-minus {
    background-color: #F2DEDE;
    color: darkred; 
}

ai-dialog-overlay.active {
  background-color: black;
  opacity: .5;
}

.router-view {
  margin-top: 80px;
}